/**** custom css ***/
* :focus {
    outline: none;	
}
.navbar-logo a {
    max-width: 72px;
    display: inline-block;
}
.header-center {
    padding: 8px 0;
}
.megamenu-hori.navbar-menu {
    padding: 18px 15px;
}
.shopping_cart {
    padding: 14px 0;
}
.header-bottom {
    background: #222;
    min-height: 45px;
    margin-bottom: 15px;
}
header#header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
}
header#header.sticky .header-bottom {
    margin: 0
}
header#header.sticky .header-top {
    display: none;
}
header#header.sticky .header-center {
    padding: 0;
}
header#header.sticky .navbar-logo a  {
    transition: 300ms;
}
header#header.sticky .navbar-logo a {
    max-width: 62px;
    display: inline-block;
    padding: 5px 0;
}
.block-clientsay .yt-content-slide .client-info img {
    width: 100%;
    max-width: 45px;
    border-radius: 50%;
}
.so-categories .cat-wrap.theme2 .content-box img, .so-categories .cat-wrap.theme3 .content-box img {
    width: auto;
}
.contact-address span {
    font-size: 18px;
    font-size: 1.4rem;
    left: 0px;
    position: absolute;
    background-color: #969696;
    top: 4px;
    color: white;
    border-radius: 2px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    padding-left: 1px;
}
.social-widgets {
    display: none !important;
}
.contact-address li, .contact-address > li:nth-child(2), .contact-address li:last-child {
    color: #444444;
    padding: 0 0 0px 30px;
    position: relative;
    z-index: 1;
    line-height: 27px;
    margin-bottom: 3px;
    min-height: 20px;
}
.contact-address > li:last-child span {
    margin-top: 0;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #da0010;
    border-color: #da0010;
}
.pagination>li>a, .pagination>li>span {
    color: #da0010;
    background-color: #fff;
    border: 1px solid #ddd;
}
.label-new {
    background: #da0010;
}
.label-new:after {
    border-top: 9px solid #da0010;
}
.ui-slider {
    border: 1px solid #da0010;
}
.ui-slider .ui-slider-handle {
    background: #444444;
    border: 1px solid #444444;
}
.ui-slider .ui-slider-handle::before {
    background: #ffffff;
}
.ui-slider .ui-slider-range {
    background: #da0010;
}
.refine-search .thumbnail {
    margin: 0;
    padding: 0;
    text-align: center;
}
.refine-search a {
    color: #444;
    text-align: center;
    display: block;
}
.refine-search {
    margin: 20px 0 10px;
}
ul.refine-brand {
    list-style: none;
    padding-left: 60px;
}
ul.refine-brand:before {
    content: attr(data-filter);
    position: absolute;
    left: 15px;
    font-size: 14px;
    font-weight: 600;
    top: 13px;
}
ul.refine-brand li {
    list-style: none;
    display: inline-block;
}
ul.refine-brand a {
    display: block;
    overflow: hidden;
}
ul.refine-brand li:hover a {
    border-color: #da0010;
    color: #da0010;
}
ul.refine-brand a img {
    max-width: 100%;
    position: relative;
}
ul.refine-brand li {
    list-style: none;
    display: inline-block;
    max-width: 80px;
    padding: 4px;
    font-size: 12px;
}
ul.refine-brand.menu {
    list-style: none;
    padding: 0;
    padding-top: 35px;
}
ul.refine-brand.menu:before {
    content: attr(data-filter);
    position: absolute;
    left: 15px;
    font-size: 14px;
    font-weight: 600;
    top: 0;
    text-transform:  uppercase;
    color:  #222;
}
ul.refine-brand.menu li {
    list-style: none;
    display: inline-block;
}
ul.refine-brand.menu a {
    display: block;
    overflow: hidden;
    margin:  0 !important;
    border-radius: 0;
}
ul.refine-brand.menu li:hover a {
    border-color: #da0010;
    color: #da0010;
}
ul.refine-brand.menu a img {
    max-width: 100%;
    position: relative;
}
ul.refine-brand.menu li {
    list-style: none;
    display: inline-block;
    max-width: 80px;
    padding: 4px;
    font-size: 12px;
}
.filters-panel {
    margin-top: 15px;
}
.superdeals-entry {
    margin-top: 0;
    overflow: hidden;
    margin-bottom: 30px;
    border-bottom:  1px solid #ddd;
    padding-bottom: 30px;
}
.superdeals-entry a:hover {
    text-decoration: none;
}
.superdeals-entry .superdeals-slider {
    width: 100%;
    max-height: 360px;
    overflow: hidden;
}
.superdeals-entry .product-list {
    list-style: none;
    margin: 0 -8px;
    padding:  0;
}
.superdeals-entry .product-list .item {
    width: 20%;
}
.product-list li {
    padding: 0 8px 8px;
    margin-left: 0;
    list-style: none;
}
.flex-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-flex-direction: column;
}
.flex-horizontal, .flex-vertical {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.superdeals-entry .img-wrapper {
    height: auto;
}
.product-list .img-wrapper {
    overflow: hidden;
    border-radius: 12px;
    text-align: center;
    opacity: .96;
}
.product-list .img-wrapper:hover {
    opacity: .92;
}
.img-wrapper a {
    display: inline-block;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: #000;
}
.superdeals-entry .img-wrapper img {
    width: 100%;
    height: 100%;
    margin-top: -2px;
}
.product-list .img-wrapper img {
    max-width: 100%;
    opacity: .96;
    background-color: #fff;
}
.product-list .pro-price {
    margin-top: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #999;
}
.product-list .current-price {
    color: #000;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    display:  block;
    margin-bottom: 8px;
}
del {
    text-decoration: line-through;
    color:  #aaa;
}
.superdeals-entry .product-list .pro-remaining {
    font-size: 0;
    margin-top: 12px;
}
.superdeals-entry .product-list .progress-box {
    display: inline-block;
    width: 100%;
    height: 12px;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    background-color: #eee;
}
.superdeals-entry .product-list .progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 6px;
    background-color: #E62E05;
}
.superdeals-entry .product-list .pro-claimed, .superdeals-entry .product-list .pro-left {
    font-size: 16px;
    line-height: 24px;
    color: #666;
    margin-top: 8px;
}
.superdeals-entry .product-list .progress-inner {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 6px;
    background-color: #E62E05;
}
.main-title {
    margin-bottom:20px
}
.title-bar .main-title h3  {
    display: inline-block;
    margin-top: 0;
}
.title-bar .view-more {
    float:  right;
    font-size: 16px;
    color: #666;
    display:  inline-block;
    border: 1px solid #da0010;
    padding: 8px 8px;
    line-height:  1;
}
.title-bar .view-more:hover {
    color: #da0010;

}
.title-bar .main-title h3 a {
    color: #000;
    font-size:  30px;
    font-weight:  600;
}
.superdeals-entry .main-title .end-time {

    font-size: 26px;

    margin-left: 15px;

    color:  #000;
}
.list-inline {
    padding-left: 0;
    margin: 0;
    margin-left: -5px;
    list-style: none;
}
.search.custom {
    padding: 20px 0;
    padding-left: 160px;
    position: relative;
}
.select_category.filter_type.icon-select {
    position: absolute;
    left: 0;
    width: 160px;
}
.select_category.filter_type.icon-select select {
    width: 100%;
    padding: 5px 5px;
    background-color: #eee;
    border-color: #ccc;
    border-right: none;
}
.type_2 #sosearchpro .button-search {
    background: #da0010;
    border: 1px solid #da0010;
}
.header-bottom.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.header-top {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
.megamenu .label {
    background: #da0010 none repeat scroll 0 0;
    top: 0;
}
.content-product-left img {
    max-width: 100%;
}
.thumb-slider-outer .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid  transparent;
    margin-bottom: 5px;
}
.thumb-slider-outer .slick-vertical .slick-slide.slick-active {
    border: 3px solid #ddd;
}
.thumb-vertical-outer {
    width: 70px;
    position: relative;
    float: left;
    margin-right: 50px;
    padding: 50px 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    padding: 8px;
}
ul.nav.nav-tabs.form-tabs h2 {
    margin: 0;
    color: #555;
}
ul.nav.nav-tabs.form-tabs li.active h2 {
    color: #da0010;
}
ul.nav.nav-tabs.form-tabs {
    margin-bottom: -1px;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
}
ul.nav.nav-tabs.form-tabs li {
    float: none;
    display: inline-block;
}
.tab-content.form-content {
    border: none;
    padding: 0;
}
.nav-tabs.form-tabs>li.active>a, .nav-tabs.form-tabs>li.active>a:focus, .nav-tabs.form-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-bottom-color: transparent;
}
.page-login .login-social .button {
    width: 100%;
    height: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    font-size: 1.3333em;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 0.04em;
    position: relative;
    display: block;
    color: #fff;
    width: 260px;
    margin: 0 auto 10px;
    max-width: 100%;
    transition: 300ms;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
}
.page-login .login-social .button:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
}
a.button.login-facebook {
    background: #155c92
}
a.button.login-googleplus {
    background: #d13535

}
a.button.login-linkedin {
    background: #1f74b4

}
.page-login .login-social .button i {
    font-size: 1em;
    margin-right: 20px;
    width: 20px;
    display: inline-block;
}
/* Pooja css 16-03-2018 */
.board{
    width: 80%;
    margin: 60px auto;
    background: #fff;
    /*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner {
    height: 2px;
    background: #222;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.board > .board-inner .nav-tabs > li.active > a, .board > .board-inner .nav-tabs > li.active > a:hover, .board > .board-inner .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one {
    color: rgb(249, 250, 251);
    border: 2px solid rgb(34, 34, 34);
    background: #222222;
}

li.active span.round-tabs.one {
    background: #da0010 !important;
    border: 2px solid #da0010;
    color: rgb(255, 255, 255);
}

.board > .board-inner .nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.board > .board-inner .nav-tabs > li {
    width: 25%;
}
.board > .board-inner .nav-tabs > li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;

}
.board > .board-inner .nav-tabs > li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #da0010;

}
.board > .board-inner .nav-tabs > li a{
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.board > .board-inner .nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.board > .board-inner .tab-pane{
    position: relative;
    padding-top: 50px;
}
.board > .board-inner .tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}
.adddess-left{    width: 73%;
                  float: left;
                  margin: 10px 0px;}
.adddess-right{    width: 25%;
                   float: right;
                   margin: 10px 0px;}
input[type=file] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

@media( max-width : 585px ){

    .board {
        width: 90%;
        height:auto !important;
    }
    span.round-tabs {
        font-size:16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    .board > .board-inner .tab-content .head{
        font-size:20px;
    }
    .board > .board-inner .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height:50px;
    }

    .board > .board-inner .nav-tabs > li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

    .btn-outline-rounded {
        padding:12px 20px;
    }
}



.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}
/* Pooja css 16-03-2018 */

.filter-shopby .color_btn.squre::before, .filter-row .color_btn.squre::before {
    border-radius: 0px !important;
    background-color: #ddd !important;
}

.filter-shopby input[type="checkbox"] + .color_btn.squre::after, .filter-row input[type="checkbox"] + .color_btn.squre::after {
    color: transparent;
    content: '\2713';
    font-weight: 900;
    position: absolute;
    left: 7px;
    top: 0px;
}

.filter-shopby input[type="checkbox"]:checked + .color_btn.squre::after, .filter-row input[type="checkbox"]:checked + .color_btn.squre::after {
    color: #000;
}

.remove_css {
     position: static  !important; 
     border-top: 0px solid #ddd !important; 
     border-bottom: 0px solid #ddd !important; 
}
