/*******************************************
*	Theme Name: Market
*	Author: Magentech
*	Author URI: http://www.magentech.com
*	Version: 1.0.0
*	Description: This is html5 Sass template 
*******************************************/
/*===============================================
	[SASS DIRECTORY ]
	
    [1] Minxin Link
    [2] Minxin Buton
    [3] Minxin Triangle
   
==============================================*/
.no-margin {
  margin: 0 !important; }

.marginbottom__3x {
  margin-bottom: 30px; }

@-webkit-keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }
@keyframes animLoadedLogo {
  to {
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1);
    transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(0.65, 0.65, 1); } }
@-webkit-keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }
@keyframes animLoadedLoader {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1);
    transform: translate3d(0, -100%, 0) scale3d(0.3, 0.3, 1); } }
@-webkit-keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0); } }
@keyframes animLoadedHeader {
  to {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); } }
@-webkit-keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0); } }
@keyframes animInitialHeader {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 800px, 0);
    transform: translate3d(0, 800px, 0); } }
/*******************************************************
  Style Color
********************************************************/
/**************************************************************
	  BLOCK HEADER 
**************************************************************/
.type_2 .navbar-welcome {
  margin: 5px 0; }
.type_2 .header-top-right {
  display: inline-block; }
  .type_2 .header-top-right ul.top-link {
    list-style: none;
    margin: 0;
    vertical-align: top; }
    .type_2 .header-top-right ul.top-link > li {
      display: inline-block;
      position: relative;
      float: left;
      list-style: outside none none;
      height: 34px;
      line-height: 34px; }
      .type_2 .header-top-right ul.top-link > li > a {
        display: block;
        line-height: 15px;
        padding: 0 10px 0 20px;
        position: relative;
        height: 34px;
        line-height: 34px;
        color: #666;
        font-size: 12px; }
        .type_2 .header-top-right ul.top-link > li > a:before {
          background-image: url("../image/theme//icons/ico-quicklink.png");
          background-repeat: no-repeat;
          background-position: center -26px;
          content: "";
          height: 16px;
          left: 0;
          position: absolute;
          top: 10px;
          width: 18px;
          -webkit-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
      .type_2 .header-top-right ul.top-link > li.wishlist a:before {
        background-position: center -79px; }
      .type_2 .header-top-right ul.top-link > li.checkout a:before {
        background-position: center -139px; }
      .type_2 .header-top-right ul.top-link > li.login a:before {
        background-position: center -196px; }
      .type_2 .header-top-right ul.top-link > li:hover {
        background: #F4A137; }
        .type_2 .header-top-right ul.top-link > li:hover > a {
          color: #fff; }
        .type_2 .header-top-right ul.top-link > li:hover.account a:before {
          background-position: center 1px; }
        .type_2 .header-top-right ul.top-link > li:hover.wishlist a:before {
          background-position: center -53px; }
        .type_2 .header-top-right ul.top-link > li:hover.checkout a:before {
          background-position: center -109px; }
        .type_2 .header-top-right ul.top-link > li:hover.login a:before {
          background-position: center -168px; }
      .type_2 .header-top-right ul.top-link > li ul.dropdown-link {
        position: absolute;
        background: #fff;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
        left: 0;
        opacity: 0;
        padding: 0px 10px;
        top: 33px;
        transition: top 0.3s ease 0s, opacity 0.3s ease 0s;
        width: 200px;
        z-index: -1;
        text-align: left; }
        .type_2 .header-top-right ul.top-link > li ul.dropdown-link li {
          display: block;
          border-left: 0; }
          .type_2 .header-top-right ul.top-link > li ul.dropdown-link li a {
            border-right: 0;
            display: block;
            padding: 5px 0 4px;
            border-bottom: solid 1px #efefef;
            font-size: 11px;
            line-height: 18px;
            color: #666; }
            .type_2 .header-top-right ul.top-link > li ul.dropdown-link li a:hover {
              color: #F4A137; }
            .type_2 .header-top-right ul.top-link > li ul.dropdown-link li a:after {
              display: none; }
          .type_2 .header-top-right ul.top-link > li ul.dropdown-link li:last-child a {
            border-bottom: 0; }
      .type_2 .header-top-right ul.top-link > li.account:hover ul.dropdown-link {
        top: 34px;
        z-index: 9999;
        opacity: 1;
        border-top: 1px solid rgba(200, 199, 199, 0.3); }
.type_2 .header-top .languages-block, .type_2 .header-top .currencies-block {
  margin: 5px 0;
  border: 1px solid #d2d2d2; }
.type_2 .header-top .languages-block form > a, .type_2 .header-top .currencies-block form > a {
  line-height: 20px; }

/*# sourceMappingURL=header2.css.map */
