.inline-flex {
    display: inline-flex;
}
.inline-flex input[type="radio"] {

    display: block;
    line-height: 1;
    height: 20px;
    margin: 1px 10px;
}
.scroll_box {
    max-width: 100%;
    overflow: auto;
}
table.tbl_box {
    width: auto !important;
}
.tbl_cell {
    min-width: 250px !important;
    width: 250px !important;
    vertical-align: top;
}
.tbl_cell + .tbl_cell {
    border-left: 1px solid #ccc;
}

.tbl_ul{
    max-height: 200px; overflow-y: auto;
}

.tbl_ul li a {
    padding: 8px;
    padding-right: 25px;
    position:  relative;
}
.tbl_ul li + li a {
    border-top:1px dashed #ddd
}
.tbl_ul li a span {
    position:  absolute;
    right:  5px;
    top: 50%;
    transform: translateY(-50%);
}

#next_btn{
    float: right;  
}


.row_pading{
    padding-bottom: 20px;
    float: left;
    width: 100%;
}
.botm{
    padding: 20px;
}

.botm-btn{
    float:right;
}

.tab-height{
    height: 60px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.check_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.check_slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .check_slider {
  background-color: #26c281;
}

input:focus + .check_slider {
  box-shadow: 0 0 1px #26c281;
}

input:checked + .check_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded check_sliders */
.check_slider.round {
  border-radius: 34px;
}

.check_slider.round:before {
  border-radius: 50%;
}
.fileinput.custom-fileinput {
    position: relative;
    display: inline-block;
}
.fileinput.fileinput-new.custom-fileinput span.btn.btn-file {
    margin-top: -73px;
    width: 100px;
    margin-right: 0;
}
.fileinput.fileinput-new.custom-fileinput .fileinput-preview.thumbnail {
    background: url(../../../images/plus.png) center no-repeat;
    background-size: contain;
}
.fileinput.custom-fileinput.fileinput-exists span.upload-text {
    display: none;
}
.fileinput.custom-fileinput.fileinput-exists span.btn.btn-file {
    position: absolute;
    display: flex;
    top: 0;
    z-index: 9999;
    padding: 0;
    width: 20px;
    height: 20px;
}
.fileinput.custom-fileinput.fileinput-exists a:first-child {
    position: relative;
    
}


.img-container {
    display: inline-block;
    position: relative;
        margin-top: 5px;
    margin-right: 5px;
}
.img-container i {
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
    font-size: 29px;
    background: red;
    color: #fff;
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-family: sans-serif;
    border-radius: 50%;
    opacity: 0;
}
.img-container:hover i {
    opacity: 0.8;
}
.img-container i:hover {
    opacity: 1;
}