#flg {
    border: 1px solid #ddd;
}

.resize-none {
    resize: none;
}

#flg {
    border: 1px solid #ddd;
}

.error {
    position: absolute;
    font-weight: 600;
}

.view {
    color: green;
    font-size: 20px;
}

.edit {
    color: blue;
    font-size: 20px;
}

.delete {
    color: red;
    font-size: 20px;
}

#user-model table.table thead tr th {
    text-align: left;
}

.btn-default.btn-on-1.active {
    background-color: #006ffc;
    color: white;
}

.btn-default.btn-off-1.active {
    background-color: #da4f49;
    color: white;
}

.webservice,
.url,
.uploadStock {
    display: none;
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 249px;
    left: 654px;
    z-index: 100;
}

td {
    text-align: left !important;
}
.num {
    text-align: right !important;
}
.modal-title {
    text-align: center;
    font-weight: 600;
}
.help {
    margin-top: 10px;
}

.page-content-wrapper .page-content {
    min-height: 700px;
}
.td-color{
    background-color:#ddd !important;
}
.modal-header{
    text-align: end;
}
.close{
    display: contents;
}