h4.subtitle p {
    font-size: 16px;
    font-family: "Roboto";
    color: #232323;
    font-weight: 500;
    margin: 13px 0;
    TEXT-ALIGN: JUSTIFY;
    text-transform: uppercase;
    line-height: 20px;
}

h4.subtitle p:hover{
    color:#eb2624
}

.page-login .bottom-form {
    background: #f5f5f5;
    border: 1px solid #e7e7e7;
    border-top: 0;
    padding: 10px 20px;
    overflow: hidden;
    line-height: 35px;
}
